<html>
  <head>
    <title>Flashcards</title>
    <link rel="stylesheet" type="text/css" href="<%= Routes.static_path(@conn, "/style.css") %>">
    <script src="<%= Routes.static_path(@conn, "/paged.polyfill.js") %>"></script>
  </head>
  <body>
    <%= @inner_content %></body></html>
